.App {
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #6a8e6a;
    color: #fff;
    padding: 10px;
}

nav a {
    margin: 0 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

nav a.active {
    border-bottom: 2px solid #fff;
}

.section1 {
    background-color: #587D71;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    background-color: #5d7a71;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 {
    background-color: #587D71;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #587D71;
    /* text-align: center; */
    font-size: 24px;
}

img {
    border: 1% solid #ddd;
    border-radius: 40px;
    padding: 5px;
    height: 70%;
    width: auto;
    vertical-align: middle;
    horizontal-align: middle;

}


/* Styles for mobile */
@media (max-width: 768px) {
    .MenuIcon {
        float: right;
    }

    .toggle-button {
        float: right;
        padding-right: 10%;
        /* padding-top: 2.5%; */
    }

    .Link {
        display: block;
        padding: 10px 20px;
        margin: 10px;
        font-size: 20px;
        color: #fff;
        background-color: #000;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;
    }

    .link:hover {
        background-color: #555;
    }

    /* 
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    .sections-container {
        margin-top: 40px;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .toggle-button {
        display: right;
        right: 10rem;

    } */


}